.day-wrap{
  margin: 2em 0;
}
.day-wrap .hours{
  position :  relative;
  margin:  1em 1em 0 0;
  border: 1px solid black;
  display: inline-block;
  width: 5%;
  text-align: center;
  background-color: lightblue;
  padding: 0.5em 0.2em;
}

.close-btn{
  cursor: pointer;
  position: absolute;
  top: -8px;
  right: -8px;
  background: url("../assets/close.png") no-repeat center;*
  background-size: cover;
  height: 15px;
  width: 15px;
}